.formLogin {
    height: 600px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    margin-top: 50px;
    padding: 40px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 0;
    background:fixed no-repeat url("../../img/Background.jpg");
    box-shadow: 0 0 20px 2px antiquewhite,
    0 0 0 0px antiquewhite,
    3px -3px 50px #c78dc7, 
    -3px 3px 50px #643b77;
    border-radius: 30px;
}
.formLogin h1 {
    font-size: 2.2em;
    text-shadow: 2px 2px 4px chartreuse;
    font-weight:bolder;
    padding: 0px;
    margin: 0px;
    height: 2.4em;
    color: rgb(190, 155, 247);
}

.formLogin button {
    height: 40px;
    margin-top: 17px;
    margin-bottom: 45px;
    margin-left: 10px;
    background-image: url(../../img/Background.jpg);
    color: cornsilk;
    font-weight:bolder;
    font-size: smaller;
    background-color: rgb(250, 235, 215);
    border-radius: 15px;
    box-shadow: inset 1px 1px 2px 1px antiquewhite,
			0 0 0 0px antiquewhite,
			3px -3px 30px #c78dc7, 
			-3px 3px 30px #643b77;
}

.formLogin input {
    text-align: center;
    height: 34px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-right: 5px;
    background-color: rgb(250, 235, 215);
    border-radius: 15px;
    box-shadow: inset 0 0 3px 3px antiquewhite,
			0 0 0 0px antiquewhite,
			3px -3px 30px #c78dc7, 
			-3px 3px 30px #643b77;
}

.formLogin label {
    align-self: start;
    text-align:left;
    text-shadow: 1px 1px 3px chartreuse;
    font-weight:500;
    padding-left: 0px;
    margin-bottom: -10px;
    margin-top: 5px;
    height: 2.2em;
    color: rgb(190, 155, 247);
}

.formLogin img {
    align-self:center;
    border-radius:65px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 4px rgba(123, 58, 129, 0.7);
    width: 130px;
    height: 130px;
    overflow: hidden;
}